{{ use('/yii/widgets/ActiveForm') }}
{{ use('/yii/helpers/Html') }}

{%  set item = 1 %}
<div class="site-index">
    <div class="body-content">
        <div class="row">
            <div class="col-sm-12">
                {% set form = active_form_begin({
                'method' : 'post',
                'action' : ['site/team-add'],
                }) %}
                <button class="btn btn-success table_st_btn_right" href="#" role="button">Add New Team</button>
                {{ active_form_end() }}
            </div>
        </div>

        <div class="row table_st">
            <div class="col-xs-1 table_text_style">№</div>
            <div class="col-xs-4 table_text_style">Назва команди</div>
            <div class="col-xs-2 table_text_style">Рік створення</div>
        </div>
        </div>

            {% for team in teams %}
            <div class="row table_st_row">
                <div class="col-xs-1 table_text_style">{{ item }}.</div>
                <div class="col-xs-4 table_text_style"><a href="index.php?r=site%2Fteam&team_id={{ team.id }}"> {{ team.name }} </a></div>
                <div class="col-xs-2 table_text_style"> {{ team.year }} </div>
                <div class="col-sm-5 table_st_block">
                    {% set form = active_form_begin({
                    'method' : 'post',
                    'action' : ['site/index'],
                    }) %}
                    <input type="hidden" name="delete_id" value="{{ team.id }}">
                    <button class="btn btn-danger table_st_btn_left" href="#" role="button">Delete</button>
                    {{ active_form_end() }}

                    {% set form = active_form_begin({
                    'method' : 'get',
                    'action' : ['site/team-edit'],
                    }) %}
                    <input type="hidden" name="edit_id" value="{{ team.id }}">
                    <button class="btn btn-info table_st_btn_left" href="#" role="button">Edit</button>
                    {{ active_form_end() }}

                    {% set item = (item + 1) %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>
