<div class="site-index">
    <div class="body-content">
        <form method="post" action="index.php?r=site%2Fplayer-edit&id={{ player.id }}">
            Імя гравця :<br>
            <input type="text" name="name" value="{{ player.name }}" required >
            <br><br>
            Прізвище гравця :<br>
            <input type="text" name="surname" value="{{ player.surname }}" required >
            <br><br>
            {DD.MM.YYYY} народження :<br>
            <input type="text" name="birthdata" value="{{ player.birthdata }}" required >
            <br><br>
            Позиція на полі :<br>
            <input type="text" name="field_position" value="{{ player.field_position }}" required>
            <br><span class="input_alert">{{ massage }}</span><br>
            <input type="hidden" name="access" value="addplayer">
            <button class="btn btn-info" href="#" role="button">Edit</button>
            <br>
        </form>
    </div>
</div>
