{{ use('/yii/widgets/ActiveForm') }}

<div class="site-index">
    <div class="body-content">
            <div class="row">
                <div class="col-sm-12">
                {% set form = active_form_begin({
                'method' : 'get',
                'action' : ['site/player-add'],
                }) %}
                        <input type="hidden" name="team_id" value="{{ team_id }}">
                        <button class="btn btn-success table_st_btn_right" href="#" role="button">Add New Player</button>
                {{ active_form_end() }}
                </div>
            </div>

            <div class="row table_st">
                <div class="col-sm-1 table_text_style">№</div>
                <div class="col-sm-2 table_text_style">Прізвище</div>
                <div class="col-sm-2 table_text_style">Імя</div>
                <div class="col-sm-2 table_text_style">Дата народження</div>
                <div class="col-sm-2 table_text_style">Позиція на полі</div>
            </div>


            {% set item = 1 %}
            {% for player in players %}
            <div class="row table_st_row">
                <div class="col-sm-1 table_text_style">{{ item }}.</div>
                <div class="col-sm-2 table_text_style">{{ player.surname }} </div>
                <div class="col-sm-2 table_text_style">{{ player.name }}</div>
                <div class="col-sm-2 table_text_style">{{ player.birthdata }}</div>
                <div class="col-sm-2 table_text_style">{{ player.field_position }}</div>
                    <div class="col-sm-2 table_st_block">
                        <form method="post" action='index.php?r=site%2Fteam&team_id={{ team_id }} '>
                            <input type="hidden" name="delete_id" value="{{ player.id }}">
                            <input type="hidden" name="access" value="access">
                            <button class="btn btn-danger table_st_btn_left" href="#" role="button">Delete</button>
                        </form>

                        <form method="post" action='index.php?r=site%2Fplayer-edit&id={{ player.id }} '>
                            <button  class="btn btn-info table_st_btn_left" href="#" role="button">Edit</button>
                        </form>

                        {% set item = (item + 1) %}
                    </div>
                <br>
            </div>
            {% endfor %}


    </div>
</div>
