
<div class="site-index">
    <div class="body-content">
        <form method="post" action="index.php?r=site%2Fteam-edit&edit_id={{ edit_id }}">
        Назва команди :<br>
        <input type="text" name="name" value="{{ team['name'] }}" required>
        <br>
        <span class="input_alert"> {{ massage }}</span>
        <br>
        Рік заснування :<br>
        <input type="text" name="year" value="{{ team['year'] }}" required>
        <br><br>
        <input type="hidden" name="access" value="edit_access">
        <button class="btn btn-success" href="#" role="button">Edit</button>
        </form>
    </div>
</div>
