
<div class="site-index">
    <div class="body-content">
        {% set form = active_form_begin({
        'method' : 'post',
        'action' : ['site/team-add'],
        }) %}
        Назва команди :<br>
        <input type="text" name="name" value="{{ team['name'] }}" required>
        <br>
        <span class="input_alert"> {{ massage }}</span>
        <br>
        Рік заснування :<br>
        <input type="text" name="year" value="{{ team['year'] }}" required>
        <br><br>
        <input type="hidden" name="addteam" value="access">
        <button class="btn btn-success" href="#" role="button">Add</button>
        {{ active_form_end() }}
        <br>

    </div>
</div>
