.table_text_style{
    padding-top: 10px;
}

.input_alert{
    color: red;
    font-weight: bold;
}

.table_st_row{
    margin-top: 5px;
    border-top: 1px solid gainsboro;
}

.table_st_block{
    padding-top: 5px;
}

.table_st_btn_right{
    float: right;
}

.table_st_btn_left{
    display: inline-block;
    float: left;
    margin-left: 5px;
}